<h1>TestAppComponent (test-app.component.html)</h1>
<div class="split-container">
    <div class="absolute">
        <split #split direction="horizontal" [gutterSize]="24" (currentSizeChange)="handleAreaSizeChange($event)">
            <split-area [minSizePx]="areas[0].minSizePx" 
                        [maxSizePx]="areas[0].maxSizePx" 
                        (orderChange)="areas[0].order = $event">
                <test-content>Content #1</test-content>
            </split-area>
            <split-area (orderChange)="areas[1].order = $event"
                        [minSizePx]="areas[1].minSizePx" >
                <test-content>Content #2</test-content>
            </split-area>
            <custom-gutter #gutter
                            template="gutter"
                           (onMoveGutterMin)="split.moveGutterMin($event)"
                           (onMoveGutterMax)="split.moveGutterMax($event)"
                           (onShowBothAreas)="split.moveGutterToPosition($event, -1 * this.areas[1].minSizePx)"
            ></custom-gutter>
        </split>
    </div>
</div>