:host {
    font-family: Arial;
    padding: 10px;

    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    display: flex;
    flex-direction: column;
}

:host > .split-container {
    flex: 1 1 auto;
    position: relative;
}

:host > .split-container > .absolute {
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
}
